{minimum_otp_vsn, "17.0"}.

{validate_app_modules, true}.
{cover_enabled, true}.
{reset_after_eunit, true}.

{provider_hooks, [
    {post, [
      {compile, {appup, compile}},
      {clean, {appup, clean}}
    ]}
]}.

{deps, [
    {lager,".*", {git, "https://github.com/basho/lager.git",{tag, "2.0.3"}}},
    {eredis_pool,".*", {git, "https://github.com/hiroeorz/eredis_pool.git",{branch, "master"}}}
]}.

{relx, [
    {release, {fun_test, "0.1.0"},[
      fun_test
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {prod, [
        {erl_opts, [
            no_debug_info,
            warnings_as_errors,
            {platform_define, "^17.", 'ERLANG_OTP_VERSION_17'},
            {platform_define, "^18.", 'ERLANG_OTP_VERSION_18'},
            {platform_define, "^19.", 'ERLANG_OTP_VERSION_19'}
        ]},
        {relx, [{dev_mode, false},
                {include_erts, true},
                {extended_start_script, true},
                {include_src, false}]}
    ]},
    {test, [
        {erl_opts, [
            debug_info,
            {platform_define, "^17.", 'ERLANG_OTP_VERSION_17'},
            {platform_define, "^18.", 'ERLANG_OTP_VERSION_18'},
            {platform_define, "^19.", 'ERLANG_OTP_VERSION_19'}
        ]}
    ]}
]}.

{plugins, [
    rebar3_run,
    rebar3_appup_plugin,
    rebar3_vendor
]}.