[
    {eredis_pool, [
        {global_or_local, local},
        {pools, [
            {default, [{size, 10},
                       {max_overflow, 20}],
                      [{host, "127.0.0.1"},
                       {port, 6379},
                       {database, 0}]}
        ]}
    ]},

    {fun_test, [
        {redis_module, eredis_pool},
        {redis_pool, default},

        {rate_limit, 3000},
        {n, 100},
        {queuekey, "gen"},
        {resultsetkey, "res"}
    ]}
].
